#package.xml file is recreated on the fly by Copado, no need to track unnecessary changes of this file
package.xml

#Managed packages can trigger the installation or uninstallation of applications, it is
#recommended to manage this outside git

installedPackages/*

#Translations are complex since get updated indirectly across multiple files, they can make a deployment fail
#if a field is translated in source and it doesn't exist on destination.
#If you are committing incrementally new fields and new Translations you can track them in Git, just be careful.
#If you choose  to ignore them in Git, you can always create a deployment with the Copado Deployer "Translation" Step.

# translations/*
# objectTranslations/*

#Sites which has Domain mapping has environment specific information.
#Make sure you setup Copado Environment Variables to make sites config files environment agnostic.
#Until the above is achieved, you can ignore them as follows

# sites/*
# siteDotComSites/*

#Documents are mostly created in Production and are not deployed between Sandboxes. You can safely ignore them in Git.
documents/*

#if you are not customizing a managed package, you can keep your repository clean by ignoring
#all files for that package. For example, to ignore all files of the "Copado" managed package
#just add to your gitignore file the following text: *copado__*
#if you will be customizing managed packages, make sure that the same version of the package
#is installed on all your environments so that deployments will only update existing
#managed components. Creation of managed components is not permitted by the API.
#It is recommended that you ignore managed components that cannot be modified
#since there is no need to track them in Git, like for example:

classes/copado__*
triggers/copado__*
pages/copado__*


classes/acpoll__*
triggers/acpoll__*
pages/acpoll__*

classes/al__*
triggers/al__*
pages/al__*

classes/Apttus__*
triggers/Apttus__*
pages/Apttus__*

classes/Apttus_Approval__*
triggers/Apttus_Approval__*
pages/Apttus_Approval__*

classes/Apttus_CMConfig__*
triggers/Apttus_CMConfig__*
pages/Apttus_CMConfig__*

classes/Apttus_CMDSign__*
triggers/Apttus_CMDSign__*
pages/Apttus_CMDSign__*

classes/Apttus_Config2__*
triggers/Apttus_Config2__*
pages/Apttus_Config2__*

classes/Apttus_CPQApi__*
triggers/Apttus_CPQApi__*
pages/Apttus_CPQApi__*

classes/Apttus_CPQOpti__*
triggers/Apttus_CPQOpti__*
pages/Apttus_CPQOpti__*

classes/Apttus_CQApprov__*
triggers/Apttus_CQApprov__*
pages/Apttus_CQApprov__*

classes/Apttus_DealMgr__*
triggers/Apttus_DealMgr__*
pages/Apttus_DealMgr__*

classes/Apttus_DealOpti__*
triggers/Apttus_DealOpti__*
pages/Apttus_DealOpti__*

classes/Apttus_DocGen__*
triggers/Apttus_DocGen__*
pages/Apttus_DocGen__*

classes/Apttus_DocuApi__*
triggers/Apttus_DocuApi__*
pages/Apttus_DocuApi__*

classes/Apttus_Proposal__*
triggers/Apttus_Proposal__*
pages/Apttus_Proposal__*

classes/Apttus_QPApprov__*
triggers/Apttus_QPApprov__*
pages/Apttus_QPApprov__*

classes/Apttus_QPAsset__*
triggers/Apttus_QPAsset__*
pages/Apttus_QPAsset__*

classes/Apttus_QPComply__*
triggers/Apttus_QPComply__*
pages/Apttus_QPComply__*

classes/Apttus_QPConfig__*
triggers/Apttus_QPConfig__*
pages/Apttus_QPConfig__*

classes/Apttus_XAAdmin__*
triggers/Apttus_XAAdmin__*
pages/Apttus_XAAdmin__*

classes/Apttus_XADocGen__*
triggers/Apttus_XADocGen__*
pages/Apttus_XADocGen__*

classes/Apttus_XApps__*
triggers/Apttus_XApps__*
pages/Apttus_XApps__*

classes/Apttus_XAppsDS__*
triggers/Apttus_XAppsDS__*
pages/Apttus_XAppsDS__*

classes/APXTConga4__*
triggers/APXTConga4__*
pages/APXTConga4__*

classes/ca_collab_2_0__*
triggers/ca_collab_2_0__*
pages/ca_collab_2_0__*

classes/ca_only_2_0__*
triggers/ca_only_2_0__*
pages/ca_only_2_0__*

classes/casedeflection__*
triggers/casedeflection__*
pages/casedeflection__*

classes/CEPARC__*
triggers/CEPARC__*
pages/CEPARC__*

classes/ch_dashboards__*
triggers/ch_dashboards__*
pages/ch_dashboards__*

classes/cloudx_cms__*
triggers/cloudx_cms__*
pages/cloudx_cms__*

classes/dlrs__*
triggers/dlrs__*
pages/dlrs__*

classes/DMAPP__*
triggers/DMAPP__*
pages/DMAPP__*

classes/DMAPP_PMX__*
triggers/DMAPP_PMX__*
pages/DMAPP_PMX__*

classes/DMPPT__*
triggers/DMPPT__*
pages/DMPPT__*

classes/et4ae5__*
triggers/et4ae5__*
pages/et4ae5__*

classes/fairwarn__*
triggers/fairwarn__*
pages/fairwarn__*

classes/Field_Trip__*
triggers/Field_Trip__*
pages/Field_Trip__*

classes/FSL__*
triggers/FSL__*
pages/FSL__*

classes/geopointe__*
triggers/geopointe__*
pages/geopointe__*

classes/Get_Feedback__*
triggers/Get_Feedback__*
pages/Get_Feedback__*

classes/leadcap__*
triggers/leadcap__*
pages/leadcap__*

classes/MaritzCX__*
triggers/MaritzCX__*
pages/MaritzCX__*

classes/MCCA5PROD__*
triggers/MCCA5PROD__*
pages/MCCA5PROD__*

classes/OIQ__*
triggers/OIQ__*
pages/OIQ__*

classes/permissioner__*
triggers/permissioner__*
pages/permissioner__*

classes/QuipConnected__*
triggers/QuipConnected__*
pages/QuipConnected__*

classes/SCSConnectedApp__*
triggers/SCSConnectedApp__*
pages/SCSConnectedApp__*

classes/seismic__*
triggers/seismic__*
pages/seismic__*

classes/sf_chttr_apps__*
triggers/sf_chttr_apps__*
pages/sf_chttr_apps__*

classes/sf_com_apps__*
triggers/sf_com_apps__*
pages/sf_com_apps__*

classes/sf_fieldservice__*
triggers/sf_fieldservice__*
pages/sf_fieldservice__*

classes/sfadminapps__*
triggers/sfadminapps__*
pages/sfadminapps__*

classes/SFGA__*
triggers/SFGA__*
pages/SFGA__*

classes/SIQCloud__*
triggers/SIQCloud__*
pages/SIQCloud__*

classes/SK__*
triggers/SK__*
pages/SK__*

classes/SocialService__*
triggers/SocialService__*
pages/SocialService__*

classes/spanning__*
triggers/spanning__*
pages/spanning__*

classes/trailheadapp__*
triggers/trailheadapp__*
pages/trailheadapp__*

